
div#row_cust_top{
    display: flex;
    gap:25px;
}
#passwordForm24 input{
  margin-bottom:20px;
}




@media(max-width:410px){
  div#boxxx {
    display: flex;
}
.header {
    gap: 20px!important;
}  
}









@media (max-width: 480px)
.welcome-left {
    width: 100%;
    float: none;
    height: auto;
    margin-top: 0px;
    padding: 20px;
}