@font-face {
  font-family: 'ac-icons';
  src: url('../font/ac-icons.eot?9608958');
  src: url('../font/ac-icons.eot?9608958#iefix') format('embedded-opentype'),
       url('../font/ac-icons.woff2?9608958') format('woff2'),
       url('../font/ac-icons.woff?9608958') format('woff'),
       url('../font/ac-icons.ttf?9608958') format('truetype'),
       url('../font/ac-icons.svg?9608958#ac-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ac-icons';
    src: url('../font/ac-icons.svg?9608958#ac-icons') format('svg');
  }
}
*/

 [class^="ac-icon-"]:before, [class*=" ac-icon-"]:before {
  font-family: "ac-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ac-icon-act_camp-click:before { content: '\23'; } /* '#' */
.ac-icon-act_camp-unsub:before { content: '\24'; } /* '$' */
.ac-icon-widget_templates:before { content: '\25'; } /* '%' */
.ac-icon-widget_news:before { content: '\26'; } /* '&amp;' */
.ac-icon-remove:before { content: '\29'; } /* ')' */
.ac-icon-widget_dealtasks:before { content: '\2a'; } /* '*' */
.ac-icon-field:before { content: '\30'; } /* '0' */
.ac-icon-add_folder:before { content: '\32'; } /* '2' */
.ac-icon-act_camp-open:before { content: '\40'; } /* '@' */
.ac-icon-icon_stat:before { content: '\50'; } /* 'P' */
.ac-icon-list_add:before { content: '\55'; } /* 'U' */
.ac-icon-list_delete:before { content: '\56'; } /* 'V' */
.ac-icon-series_add:before { content: '\57'; } /* 'W' */
.ac-icon-series_delete:before { content: '\58'; } /* 'X' */
.ac-icon-tag_add:before { content: '\59'; } /* 'Y' */
.ac-icon-tag_delete:before { content: '\5a'; } /* 'Z' */
.ac-icon-widget_pipelines:before { content: '\5e'; } /* '^' */
.ac-icon-ac:before { content: '\6c'; } /* 'l' */
.ac-icon-location:before { content: '\e800'; } /* '' */
.ac-icon-sliders:before { content: '\e801'; } /* '' */
.ac-icon-floppy:before { content: '\e802'; } /* '' */
.ac-icon-database:before { content: '\e803'; } /* '' */
.ac-icon-chart-line:before { content: '\e804'; } /* '' */
.ac-icon-flow-merge:before { content: '\e805'; } /* '' */
.ac-icon-hourglass:before { content: '\e806'; } /* '' */
.ac-icon-flow-split:before { content: '\e807'; } /* '' */
.ac-icon-flow-cross:before { content: '\e808'; } /* '' */
.ac-icon-tasks:before { content: '\e809'; } /* '' */
.ac-icon-gauge:before { content: '\e80a'; } /* '' */
.ac-icon-italic:before { content: '\e80b'; } /* '' */
.ac-icon-bold:before { content: '\e80c'; } /* '' */
.ac-icon-align-left:before { content: '\e80d'; } /* '' */
.ac-icon-align-center:before { content: '\e80e'; } /* '' */
.ac-icon-align-right:before { content: '\e80f'; } /* '' */
.ac-icon-align-justify:before { content: '\e810'; } /* '' */
.ac-icon-list-bullet:before { content: '\e811'; } /* '' */
.ac-icon-list-numbered:before { content: '\e812'; } /* '' */
.ac-icon-underline:before { content: '\e813'; } /* '' */
.ac-icon-cog-circled:before { content: '\e814'; } /* '' */
.ac-icon-split:before { content: '\e815'; } /* '' */
.ac-icon-cursor:before { content: '\e816'; } /* '' */
.ac-icon-globe:before { content: '\e817'; } /* '' */
.ac-icon-plus:before { content: '\e818'; } /* '' */
.ac-icon-minus:before { content: '\e819'; } /* '' */
.ac-icon-attach:before { content: '\e81a'; } /* '' */
.ac-icon-designer-spacer:before { content: '\e81b'; } /* '' */
.ac-icon-designer-drag:before { content: '\e81c'; } /* '' */
.ac-icon-designer-ecommerce:before { content: '\e81d'; } /* '' */
.ac-icon-designer-gallery:before { content: '\e81e'; } /* '' */
.ac-icon-designer-image:before { content: '\e81f'; } /* '' */
.ac-icon-two-arrow-fill:before { content: '\e820'; } /* '' */
.ac-icon-designer-line:before { content: '\e821'; } /* '' */
.ac-icon-designer-social:before { content: '\e822'; } /* '' */
.ac-icon-designer-text:before { content: '\e823'; } /* '' */
.ac-icon-designer-video:before { content: '\e824'; } /* '' */
.ac-icon-designer-button:before { content: '\e825'; } /* '' */
.ac-icon-picture:before { content: '\e826'; } /* '' */
.ac-icon-indent-right:before { content: '\e827'; } /* '' */
.ac-icon-indent-left:before { content: '\e828'; } /* '' */
.ac-icon-code-1:before { content: '\e829'; } /* '' */
.ac-icon-bucket:before { content: '\e82a'; } /* '' */
.ac-icon-doc:before { content: '\e82b'; } /* '' */
.ac-icon-upgrade:before { content: '\e82c'; } /* '' */
.ac-icon-copy:before { content: '\e82d'; } /* '' */
.ac-icon-mail:before { content: '\e82e'; } /* '' */
.ac-icon-deals:before { content: '\e82f'; } /* '' */
.ac-icon-workflow:before { content: '\e830'; } /* '' */
.ac-icon-double-left:before { content: '\e831'; } /* '' */
.ac-icon-double-right:before { content: '\e832'; } /* '' */
.ac-icon-move:before { content: '\e833'; } /* '' */
.ac-icon-automation:before { content: '\e834'; } /* '' */
.ac-icon-left-open:before { content: '\e835'; } /* '' */
.ac-icon-right-open:before { content: '\e836'; } /* '' */
.ac-icon-link:before { content: '\e837'; } /* '' */
.ac-icon-star:before { content: '\e838'; } /* '' */
.ac-icon-ok-circled:before { content: '\e839'; } /* '' */
.ac-icon-plus-circled:before { content: '\e83a'; } /* '' */
.ac-icon-home:before { content: '\e83b'; } /* '' */
.ac-icon-tag-1:before { content: '\e83c'; } /* '' */
.ac-icon-attention:before { content: '\e83d'; } /* '' */
.ac-icon-folder:before { content: '\e83e'; } /* '' */
.ac-icon-folder-open:before { content: '\e83f'; } /* '' */
.ac-icon-trash:before { content: '\e840'; } /* '' */
.ac-icon-menu:before { content: '\e841'; } /* '' */
.ac-icon-cw:before { content: '\e842'; } /* '' */
.ac-icon-arrows-cw:before { content: '\e843'; } /* '' */
.ac-icon-paper-plane:before { content: '\e844'; } /* '' */
.ac-icon-circle:before { content: '\e845'; } /* '' */
.ac-icon-megaphone:before { content: '\e846'; } /* '' */
.ac-icon-cancel-circled:before { content: '\e847'; } /* '' */
.ac-icon-plus-circled-1:before { content: '\e848'; } /* '' */
.ac-icon-minus-circled:before { content: '\e849'; } /* '' */
.ac-icon-help-circled:before { content: '\e84a'; } /* '' */
.ac-icon-info-circled:before { content: '\e84b'; } /* '' */
.ac-icon-eye:before { content: '\e84c'; } /* '' */
.ac-icon-tag:before { content: '\e84d'; } /* '' */
.ac-icon-clock:before { content: '\e84e'; } /* '' */
.ac-icon-pencil:before { content: '\e84f'; } /* '' */
.ac-icon-code:before { content: '\e850'; } /* '' */
.ac-icon-forward:before { content: '\e851'; } /* '' */
.ac-icon-reply:before { content: '\e852'; } /* '' */
.ac-icon-upload:before { content: '\e853'; } /* '' */
.ac-icon-download:before { content: '\e854'; } /* '' */
.ac-icon-alert:before { content: '\e855'; } /* '' */
.ac-icon-archive:before { content: '\e856'; } /* '' */
.ac-icon-calendar:before { content: '\e857'; } /* '' */
.ac-icon-down-1:before { content: '\e858'; } /* '' */
.ac-icon-left:before { content: '\e859'; } /* '' */
.ac-icon-right:before { content: '\e85a'; } /* '' */
.ac-icon-up-1:before { content: '\e85b'; } /* '' */
.ac-icon-pause:before { content: '\e85c'; } /* '' */
.ac-icon-chart-bar:before { content: '\e85d'; } /* '' */
.ac-icon-key:before { content: '\e85e'; } /* '' */
.ac-icon-ticket:before { content: '\e85f'; } /* '' */
.ac-icon-twitter-circled:before { content: '\e860'; } /* '' */
.ac-icon-facebook-circled:before { content: '\e861'; } /* '' */
.ac-icon-linkedin-circled:before { content: '\e862'; } /* '' */
.ac-icon-cancel-circled-outline:before { content: '\e863'; } /* '' */
.ac-icon-ok:before { content: '\e864'; } /* '' */
.ac-icon-export:before { content: '\e865'; } /* '' */
.ac-icon-th-list:before { content: '\e866'; } /* '' */
.ac-icon-rss:before { content: '\e867'; } /* '' */
.ac-icon-user-male:before { content: '\e868'; } /* '' */
.ac-icon-users:before { content: '\e869'; } /* '' */
.ac-icon-comment:before { content: '\e86a'; } /* '' */
.ac-icon-attention-1:before { content: '\e86b'; } /* '' */
.ac-icon-down:before { content: '\e86c'; } /* '' */
.ac-icon-up:before { content: '\e86d'; } /* '' */
.ac-icon-cog:before { content: '\e86e'; } /* '' */
.ac-icon-gplus:before { content: '\e86f'; } /* '' */
.ac-icon-twitter:before { content: '\e870'; } /* '' */
.ac-icon-x:before {
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg width='1200' height='1227' viewBox='0 0 1200 1227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z' fill='white'/%3E%3C/svg%3E");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    position: relative;
    top: 2px;
}
.ac-icon-linkedin:before { content: '\e871'; } /* '' */
.ac-icon-facebook:before { content: '\e872'; } /* '' */
.ac-icon-mail-circled:before { content: '\e873'; } /* '' */
.ac-icon-block:before { content: '\e874'; } /* '' */
.ac-icon-search-1:before { content: '\e875'; } /* '' */
.ac-icon-segment:before { content: '\e876'; } /* '' */
.ac-icon-ac-circled:before { content: '\e877'; } /* '' */
.ac-icon-monitor:before { content: '\e878'; } /* '' */
.ac-icon-thumbs-down-alt:before { content: '\e879'; } /* '' */
.ac-icon-wordpress:before { content: '\e87a'; } /* '' */
.ac-icon-facebook-squared:before { content: '\e87b'; } /* '' */
.ac-icon-flash:before { content: '\e87c'; } /* '' */
.ac-icon-award:before { content: '\e87d'; } /* '' */
.ac-icon-cube:before { content: '\e87e'; } /* '' */
.ac-icon-deals_list:before { content: '\e87f'; } /* '' */
.ac-icon-deals_square:before { content: '\e880'; } /* '' */
.ac-icon-strike:before { content: '\e881'; } /* '' */
.ac-icon-text-height:before { content: '\e882'; } /* '' */
.ac-icon-list:before { content: '\e883'; } /* '' */
.ac-icon-scissors:before { content: '\e884'; } /* '' */
.ac-icon-paste:before { content: '\e885'; } /* '' */
.ac-icon-twitter-squared:before { content: '\e886'; } /* '' */
.ac-icon-network:before { content: '\e887'; } /* '' */
.ac-icon-brush:before { content: '\e888'; } /* '' */
.ac-icon-doc-text:before { content: '\e889'; } /* '' */
.ac-icon-service-dev:before { content: '\e88a'; } /* '' */
.ac-icon-doc-text-inv:before { content: '\e88b'; } /* '' */
.ac-icon-logout:before { content: '\e88c'; } /* '' */
.ac-icon-font:before { content: '\e88d'; } /* '' */
.ac-icon-unlink:before { content: '\e88e'; } /* '' */
.ac-icon-forms_fields:before { content: '\e88f'; } /* '' */
.ac-icon-palette:before { content: '\e890'; } /* '' */
.ac-icon-gplus-circled:before { content: '\e891'; } /* '' */
.ac-icon-github:before { content: '\e892'; } /* '' */
.ac-icon-flickr:before { content: '\e893'; } /* '' */
.ac-icon-map:before { content: '\e894'; } /* '' */
.ac-icon-circle-half:before { content: '\e895'; } /* '' */
.ac-icon-circle-threequarter:before { content: '\e896'; } /* '' */
.ac-icon-circle-quarter:before { content: '\e897'; } /* '' */
.ac-icon-automation-removed:before { content: '\e898'; } /* '' */
.ac-icon-cubes:before { content: '\e899'; } /* '' */
.ac-icon-tumblr-squared:before { content: '\e89a'; } /* '' */
.ac-icon-briefcase:before { content: '\e89b'; } /* '' */
.ac-icon-vcard:before { content: '\e89c'; } /* '' */
.ac-icon-lifebuoy:before { content: '\e89d'; } /* '' */
.ac-icon-target:before { content: '\e89e'; } /* '' */
.ac-icon-pointer:before { content: '\e89f'; } /* '' */
.ac-icon-popup:before { content: '\e8a0'; } /* '' */
.ac-icon-graduation-cap:before { content: '\e8a1'; } /* '' */
.ac-icon-phone:before { content: '\e8a2'; } /* '' */
.ac-icon-support:before { content: '\e8a3'; } /* '' */
.ac-icon-back-in-time:before { content: '\e8a4'; } /* '' */
.ac-icon-bag:before { content: '\e8a5'; } /* '' */
.ac-icon-box:before { content: '\e8a6'; } /* '' */
.ac-icon-heart:before { content: '\e8a7'; } /* '' */
.ac-icon-note:before { content: '\e8a8'; } /* '' */
.ac-icon-cart:before { content: '\e81d'; } /* '' */
