@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/cardo/v19/wlpxgwjKBV1pqhv97I0x2Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/cardo/v19/wlp_gwjKBV1pqhv23IQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/cardo/v19/wlpygwjKBV1pqhND-ZQY-WY.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/istokweb/v24/3qTpojGmgSyUukBzKslpA1tz3kM.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/istokweb/v24/3qT0ojGmgSyUukBzKslpA1PG-1MZSBY.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/istokweb/v24/3qTvojGmgSyUukBzKslpCGt6.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/istokweb/v24/3qTqojGmgSyUukBzKslhvU5q92MQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfqcuK.ttf) format('truetype');
}
